label#exampleText {
    font: 15px "Comic Sans";
    font-weight: bold;
}

label#typedText {
    font: 12px "Comic Sans";
    font-weight: normal;
}

button {
	margin: 10px;
	padding: 0px 45px;
	background: #73C6B6;
	transition: 0.5s;
	background-size: 200% auto;
	color: black;
	border-radius: 4px;
}

box {
	background-color: #F0B27A;
}
